<div class="img1">
  <div class="img1-title">
    <h1>Search</h1>
  </div>
</div>

<% if @model == 'user' %>
    <h3>Users search for "<%= @content %>"</h3>
    <%= render 'public/users/index', users: @records %>
<% elsif @model == 'post' %>
    <h3>Posts search for "<%= @content %>"</h3>
    <%= render 'public/posts/tile', posts: @records %>
<% end %>