
<div class="img1">
  <div class="img1-title">
    <h1>Gift Select</h1>
  </div>
</div>

<div class='container'>

  <div class="top mx-auto col-10">
    <div class="row">
      <h3><strong>もらった気持ちを他の人とシェア！</strong></h3>
      <p>
        美味しかった感想や、「こんな珍しいモノをもらった！」など。<br>
        もしかしたら、新しい素敵な合うものに出会えるかもしれません。
      </p>
    </div>

    <div class="row">
      <h3><strong>考えすぎて選ぶのに悩んだ際の参考に。</strong></h3> 
      <p>
        いつもお土産・贈り物選びで悩みに悩んで、結局定番のものになったり、<br>
        買ってから数が足りない！などのトラブルがないように。
      </p>
    </div>
    <br>

    <div class="row">
      <%= link_to 'Log in', new_user_session_path, class: "btn btn-outline-info btn-sm mb-3" %>
    </div>

    <div class="row">
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-outline-success btn-sm" %>
    </div>
  </div>
</div>
