
<div class="img1">
  <div class="img1-title">
    <h1>Gift Select</h1>
  </div>
</div>

<div class='container'>
  <div class="row">
    <div class="top mx-auto col-10">

      <h3>もらった気持ちを他の人とシェア！</h3>
      <p>
        食べ物で美味しかった感想や、「こんな珍しいモノをもらった！」など。<br>
        もしかしたら、新しい素敵な合うものに出会えるかもしれません。
      </p>
      <br>

      <h3>考えすぎて選ぶのに悩んだ際の参考に。</h3> 
      <p>
        いつもお土産・贈り物選びで悩みに悩んで、<br>
        結局定番のものになったり、<br>
        買ってから数が足りない！などのトラブルがないように。
      </p>

    </div>
  </div>
</div>
