// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.top {
  color: #330000;
}

h3 {
  font-weight: normal;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  padding-top: 20px;
}

.btn {
  width: 50%;
  display: block;
}

.row {
  display: flex;
  justify-content: center;
}