// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// show
.show-title {
  display: flex;
  justify-content: space-between;
  border-width: 2px;
  border-style: outset;
  padding: 10px 15px 0px;
  margin-bottom: 10px;
}

.review-title {
  border-width: 2px;
  border-style: ridge;
  padding: 5px 15px;
  margin: 30px 0px 20px;
}

.comment {
  border-style: dotted;
  border-width: 1px 0px 0px;
  margin-top: 40px;
}

.comment-title {
  border-width: 2px;
  border-style: outset;
  padding: 10px 15px;
  margin: 30px 0px 20px;
}

.comment {
  flex-grow: 1;
  margin-bottom: 10px;
}

//new
.new h4 {
  margin-top: 20px;
}

//_tile
.wrap {
  margin: 10px auto;
}

  /* SP向けの設定 */
  @media screen and (max-width: 770px) {
    .wrap {
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  @media screen and (min-width: 771px) {
    .wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  /* PC向けの設定 */
  @media screen and (min-width: 1001px) {
    .wrap {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }