// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.post {
  margin-top: 3%;
  padding-bottom: 10px;
  border-style: dotted;
  border-width: 0px 0px 1px;
}