// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


//show
.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3%;
}

.name {
  padding-left: 30px;
}

.edit {
  display: flex;
  justify-content: flex-end;
}

.index {
  border-style: dotted;
  border-width: 1px 0px 0px;
  margin-top: 30px;
  padding-top: 10px;
}

//edit
.Withdrawal {
  display: flex;
  justify-content: flex-end;
}